#ignore all in output
output/*


#ignore all in output in the nexora application folder 
Nexora application/output/*

#ignore all in output in the nexora application folder
Nexora application/Crawler/nexora_crawler/output/*

#ignore all in the nexora application folder .scrapy folder
Nexora application/Crawler/nexora_crawler/.scrapy/*


# Scrapy
.scrapy/

# Python
__pycache__/
*.pyc

# scrapy
**/.scrapy/

#scrapy
**/output/